@import url(https://fonts.googleapis.com/css?family=Yaldevi:200,300,regular,500,600,700);

#logo{
    width: 150px;
    height: 150px;
    position: relative;
    left: 43.5%;
    margin-top: 5%;
}

.border-radius{
    border-radius: 50%;
}

body{
    background: black;
}

#pin{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    background: black;
    padding: 20px;
} 


#navbar{
    font-family: "Yaldevi";
    font-size: 22px;
    text-align:center;
    margin-top: 0px;
    margin-left: 23%;
    display:flex;
    flex-wrap: wrap;
    position: fixed;
}

.nav-item{
    color: lightgrey;
    margin: 0 5px;
    

} 

#description{
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 0%;
    margin-top: 10%;
    font-size: 15px;
    color: lightgrey;
    font-family: "Yaldevi";
    text-align: justify;
    justify-content: flex-end;
}

#sub{
    background:limegreen;
    width: 100%;
    text-align: center;
    margin-top: 3%;
}

#sub2{
    background: limegreen;
    width: 100%;
    text-align: center;
    margin-top: 15%;
    
} 

.members{
    display:flex;    padding: 15px;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    margin-bottom: 80px;
    margin-top: 5%;
    
}

#img1{
    width: 250px;
    height: 250px;
    margin-top: 2%;
    border-radius: 18px;

}

#img2{
    width: 250px;
    height: 250px;
    margin-top: 2%;
    border-radius: 18px;
    
}

#img3{
    width: 250px;
    height: 250px;
    margin-top: 2%;
    border-radius: 18px;
} 

#img4{
    width: 250px;
    height: 250px;
    margin-top: 2%;
    border-radius: 18px;
}

#img5{
    width: 250px;
    height: 250px;
    margin-top: 2%;
    border-radius: 18px;
}

#img6{
    width: 250px;
    height: 250px;
    margin-top: 2%;
    border-radius: 18px;
}

#img7{
    width: 250px;
    height: 250px;
    margin-top: 2%;
    border-radius: 18px;
}

#img8{
    width: 250px;
    height: 250px;
    margin-top: 2%;
    border-radius: 18px;
}

#sub3{
    background: limegreen;
    text-align: center;
}


#brawler{
    width: 250px;
    height: 250px;
    border-radius: 18px;
    

}

#letras{
    position: relative;
    top:150px;
    right: 50%;
    font-family: "Yaldevi";
    font-size: 20px;
    color: lightgrey;
    
}

.zoom {
    transition:all .5s ease; 
}
 
.zoom:hover {
    transform: scale(1.2); 
}

html{
    scroll-behavior: smooth;
}

.volver{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: "yaldevi";
    font-size: 15px;

}

header{
    width: 100%;
    margin: auto;
}

footer{
    width: 100%;
    margin: auto;

}

@media (max-width: 600px) {
    #navbar {
        margin-top: 10px;
        font-size: 12px;
        margin-left: 35px;
        margin-right: 15px;
    }
    #logo{
        position: relative;
        left: 130px;
}
#brawler{
    position: relative;
    left:55px;
}
#letras{
    position: relative;
    left: -35%;
}

}
@media only screen and (max-width: 580px) and (min-width: 380px){
    #navbar {
        margin-top: 10px;
        font-size: 12px;
        margin-left: 35px;
        margin-right: 15px;
    }
    #brawler{
        position: relative;
        left:55px;
    }
    #letras{
        position: relative;
        left: -35%;
    }

@media only screen and (max-width: 900px) and (min-width: 600px){
    #navbar {
        margin-top: 10px;
        font-size: 12px;
        margin-right: 15px;
}
}
}

@media only screen and (max-width:820px) and (min-width:450px){
    #navbar {
        margin-top: 10px;
        font-size: 12px;
        margin-right: 15px;
    }
    #logo{
        position: relative;
        
}
}

@media only screen and (min-width: 900px){
    
    #logo{
        position: relative;
    
}
#navbar{
    font-family: "Yaldevi";
    font-size: 22px;
    text-align:center;
    margin-top: 0px;
    margin-left: 23%;
    display:flex;
    flex-wrap: wrap;
}
}